.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--gray-dark);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.6rem;
  height: 4rem;
  width: 100%;

}