/* Nav bar */

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  top: 0;

  width: 100vw;
  z-index: 1;
}

.nav__content {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;

  background-color: var(--background);
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Menu expanded */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded> :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);

  width: 100vw;
  height: 100vh;

  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  margin-top: 7rem;
  padding-bottom: 4rem;

  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.nav__links a {
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.nav__links a::after {
  position: absolute;
  content: '';
  background-color: var(--hover);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: .3s ease-in-out;
  border-radius: 1rem;
}

.nav__links a:hover {
  color: var(--white);
}

.nav__links a:hover::after {
  width: 100%;
}

.nav__links a:active {
  color: var(--highlight);
}

.social__icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.social__icons svg {
  transition: .3s ease-in-out;
}

.social__icons svg:hover {
  filter: drop-shadow(0px 0px 5px #FD9346);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 1;
}