/* About */

.about {
  display: flex;
  flex-direction: column;
}

.about p {
  color: var(--gray);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 170%;
}

/* Social links */

.medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon__background {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--highlight);
  border-radius: 50%;
  background-color: var(--gray-dark);
  height: 5rem;
  width: 5rem;
  transition: .3s ease-in-out;
}

.icon__background:hover {
  transform: scale(1.1);
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
}

.frame {
  background-color: var(--gray-dark);
  border: 0.5px solid var(--gray-medium);
  border-radius: .5rem;
  height: 17.4rem;
  width: 32rem;

  padding-top: 1.6rem;
  padding-inline: 1.6rem;
}

.frame:not(:last-child) {
  margin-bottom: 2.4rem;
}

.inner__frame {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.725px solid var(--gray);
  cursor: pointer;
  height: 10rem;
  transition: .3s ease-in;
  opacity: 0.5;
}

.inner__frame:hover {
  border: 0.725px solid var(--hover);
}

.inner__frame--p1 {
  background: url(../img/landing-page.png) no-repeat center;
  background-size: cover;
}

.inner__frame--p2 {
  background: url(../img/blog.png) no-repeat center;
  background-size: cover;
}

.inner__frame--p3 {
  background: url(../img/portfolio.png) no-repeat center;
  background-size: cover;
}

.inner__frame--p1:hover,
.inner__frame--p2:hover,
.inner__frame--p3:hover {
  opacity: 1;
}

.project__tech {
  color: var(--gray);
  font-size: 1rem;
  line-height: 1.3rem;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  position: relative;

  background-color: var(--gray-dark);
  border-radius: .5rem;
  color: var(--gray);
  height: 14rem;
  width: 32rem;
  transition: .3s ease-in-out;
}

.service__detail::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.service__detail::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.service__detail:hover::after,
.service__detail:hover::before {
  border-color: var(--hover);
  border-radius: .5rem;
  width: 100%;
  height: 100%;
}

.service__detail:hover {
  background-color: var(--background);
}

.service__detail:not(:last-child) {
  margin-bottom: 2.4rem;
}